#wp-link #link-options label span.label-shortcode {
	display: none;
}
#clear-shortcode {
	display: none;
	background: url(xit.gif) no-repeat 0px 0px;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 2px;
	right: -14px;
}
#wp-link label {
	position: relative;
}
#wp-link #link-options label.has-shortcode span.label-url {
	display: none;
}
#wp-link #link-options label.has-shortcode span.label-shortcode {
	display: inline-block;
}
#wp-link .has-shortcode #clear-shortcode {
	display: block;
}
#wp-link .has-shortcode input {
	cursor: pointer;
}
#wp-link .has-shortcode input:hover {
	background: #f9f9f9;
}
#wp-link .has-shortcode:hover #clear-shortcode {
	background-position: -10px 0px;
}
.link-search-wrapper label {
	float: left;
	margin: 0 0 4px 0;
}