#wp-link #link-options label span.label-shortcode {
	display: none;
}
#wp-link label {
	position: relative;
}
#wp-link #link-options label.has-shortcode span.label-url {
	display: none;
}
#wp-link #link-options label.has-shortcode span.label-shortcode {
	display: inline-block;
}

#wp-link .has-shortcode input {
	cursor: pointer;
}
#wp-link .has-shortcode input:hover {
	background: #f9f9f9;
}

.link-search-wrapper label {
	float: left;
	margin: 0 0 4px 0;
}
#wp-link .query-results {
	top: 235px !important;
}
#wp-link .link-search-field {
	max-width: none !important;
}
@media screen and (max-width: 782px) {
	#wp-link .query-results {
		top: 260px !important;
	}
}
